.time{
  text-align:center;
  font-weight: bold;
  border-style: solid ;
  padding: 9px;
  border-width: 5px;
  border-color:white;
  margin:100px;
  background-color:grey;
}

.digital{
  color: blue;
  padding-top: 3px;
  text-align:center;}